@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import "@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
.pending {
  background-color: #fef08a;
}
.pending > span {
  background-color: rgb(234 179 8);
}

.completed {
  background-color: rgb(134 239 172);
}
.completed > span {
  background-color: rgb(44 137 66);
}

.closed {
  background-color: rgb(252 165 165);
}

.closed > span {
  background-color: rgb(220 53 69);
}
